.saved-location {
  background-color: var(--color-accent-1);
  border-radius: var(--border-radius);
  padding: var(--spacing-s) var(--spacing-m);
  border: 1px dashed var(--color-light);
  outline: 4px solid var(--color-accent-1);
  max-height: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px 5px;
  min-width: 220px;
  @media screen and (max-width: 750px) {
    width: 250px;
  }
}

.saved-location.clear {
  background: linear-gradient(to bottom, #88b6fc, #f0f8ff); /* Azul claro */
  color: #ffffff; /* Texto blanco */
}

.saved-location.cloudy {
  background: linear-gradient(to bottom, #b0b0b0, #d9d9d9); /* Gris claro */
  color: #4d4d4d; /* Texto gris oscuro */
}

.saved-location .main-weather {
  padding: 0;
}
.saved-location .weather-icon > img {
  max-width: 100%;
  max-height: 60px; /* Mantén este límite para controlar el tamaño */
  height: auto; /* Asegura que las proporciones sean correctas */
  aspect-ratio: 1; /* Opcional, asegura un cuadrado */
  object-fit: contain; /* Evita que la imagen se estire */
}


.saved-location h2 {
  font-size: var(--font-size-m);
}

.saved-location .location-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.saved-location .location-info .current-location > p {
  display: none;
}

.saved-location .current-location {
  margin-top: 0;
}
@media screen and (max-width: 750px) {
  .saved-location {
    max-height: 125px; /* Ajusta la altura */
  }

  .saved-location .weather-icon > img {
    max-height: 40px; /* Reduce el tamaño de las imágenes */
  }

  .saved-location h2 {
    font-size: var(--font-size-s); /* Reduce el tamaño del texto */
  }
}
