aside {
  background-color: var(--color-accent-3);
  flex: 1 0 250px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

aside ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

aside nav ul {
  max-height: 450px; /* Reducir la altura máxima */
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 10px; /* Añadir espacio para el scroll */
}

aside nav ul::-webkit-scrollbar {
  width: 6px;
}

aside nav ul::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 4px;
}

aside nav ul::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.no-locations {
  font-style: italic;
  color: gray;
  text-align: center;
  margin-top: var(--spacing-m);
}

@media screen and (max-width: 750px) {
  aside {
    flex: 0;
  }
  aside nav ul {
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
